<h2> Movies Available </h2>

<div class='container'>

    {{#each model as |movie|}}
      <div class='movie'>
        <img src="http://localhost:3000/images/posters/{{movie.poster_filename}}">
      </div>
    {{/each}}

</div>

<div class="controls">
  <button class='prev' id='prev' {{action "getPrev" on="click"}}>Previous</button>
  <button class='next' id='next' {{action "getNext" on="click"}}>Next</button>
</div>
